body {
    font-family: Arial, sans-serif;
    margin: 25px;
  }
  
  input, button {
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid #334d1143;
  }
  
  input {
    width: 250px;
  }
  
  .strength {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .weak {
    color: red;
  }
  
  .medium {
    color: orange;
  }
  
  .strong {
    color: green;
  }
  